footer {
    padding-top: 20px;
    text-align: center;
    line-height: 30px;
    padding-bottom: 20px;
    color: rgb(70, 69, 69);
    background-color: rgb(248, 233, 203);
    font-weight: 600;
    /* position: fixed;
    width: 100%; */
    margin-top: 150px;
}

a {
    color: #F15A5C;
}